.feedback__field {
    border-radius: 10px;
    max-width: 352px;
    min-height: 60px;
    border-style: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    outline-color: #009FAC;
}

.feedback__field::placeholder {
    color: #009FAC;
    padding: 20px;
}

.feedback__field:last-child {
    color: #fff;
    background-color: #009FAC;
    border: 2px solid #fff;
    box-sizing: border-box;
}

@media screen and (max-width: 960px) {
  .feedback__field {
     border-radius: 5px;
     min-height: 44px;
     font-size: 14px;
     line-height: 12px;
  }
}