.publications__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 68px;
  text-align: center;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: #001337;
  margin: 0;
}

@media (max-width: 768px) {
  .publications__title {
    font-size: 24px;
    line-height: 33px;
    color: #000d26;
  }
}
