.about__btn-prev {
    background-image: url(../../../images/about/About_arrow_left_darkblue.svg);
    background-size: cover;
    width: 100px;
    height: 100px; 
    background-repeat: no-repeat;
    background-position: center;
}

.swiper-button-prev::after {
    display: none;
}

@media screen and (max-width: 768px) {
    .about__btn-prev {
        display: none;
    }
}