.about__btn-prev {
  width: 60px;
  height: 60px;
  background-image: url("../../../images/icons/strelka-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  background-color: #001337;
  cursor: pointer;
  position: absolute;
  top: 60%;
  z-index: 20;
  left: 80px
}

.swiper-button-prev::after {
    display: none;
}

@media screen and (max-width: 768px) {
    .about__btn-prev {
        display: none;
    }
}
