.education__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 68px;
  text-align: center;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0; 
  padding-top: 80px;   
}