.publications-card__text {
  display: -webkit-box;
  font-size: 14px;
  line-height: 19px;
  color: #000d26;
  margin: 0;
  padding-top: 20px;
  height: 133px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
@media (max-width: 768px) {
  .publications-card__text {
    padding-top: 12px;
  }
}

@media (max-width: 490px) {
  .publications-card__text {
    font-size: 12px;
    line-height: 16px;
    height: 128px;
    padding-top: 10px;
  }
}
