.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-width: 1100px;
    min-height: 80px;
    background-color: #000D26;
}