.education {
  max-width: 1440px;
  padding: 80px 39px;
  background: #009FAC;
}

@media (max-width: 768px) {
  .education {
    padding: 60px 39px;
  }
}

@media (max-width: 480px) {
  .education {
    padding: 40px 16px;
  }
}