.card__header {
  padding: 0 20px 30px;
  height: 285px;
  color: #000d26;
  background-color: #fff;
  transition: all 0.5s;
  position: relative;
  z-index: 2;
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
}

.card:hover .card__header {
  transform: translateY(-70px);
}

@media (max-width: 768px) {
  .card:hover .card__header {
    transform: translateY(-60px);
  }
}

@media (max-width: 490px) {
  .card__header {
    padding: 0 16px 16px;
    height: 240px;
  }
}
