.card__author {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-style: italic;
  font-size: 14px;
  line-height: 19px;
  color: #009fac;
  margin: 0;
  padding-top: 4px;
}

@media (max-width: 490px) {
  .card__author {
    font-size: 12px;
    line-height: 145%;
  }
}

.swiper {
  max-width: 1262px;
  height: 100%;
}

.swiper-button-next {
  position: absolute;
  top: 50%;
  right: 40px;
}
.swiper-button-prev {
  position: absolute;
  top: 50%;
  left: 40px;
}
