.intro {
    background-image: url(../../images/Background.png);
    background-position-y: -80px;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1024px;
}

@media screen and (max-width: 768px) {
    .intro {
        background-position-y: -60px;
        background-position-x: 54%;
        transform: scale(-1, 1);
        background-position-y: -60px;
        min-height: 938px;
    }
}

@media screen and (max-width: 480px) {
    .intro {
        background-position-y: 0;
        min-height: 412px;
    }
}