.partners {
  background-color: #001337;
  max-width: 1440px;
  /*min-height: 987px;*/
  padding-bottom: 80px;
  margin-top: 0;
  padding-top: 250px;
}

@media screen and (max-width: 780px) {
  .partners {
    padding-bottom: 80px;
  }
}


@media screen and (max-width: 500px) {
  .partners {
    padding-bottom: 40px;
  }
}

