.swiperPublication__button-prev {
  width: 60px;
  height: 60px;
  background-image: url("../../../images/icons/strelka.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  background-color: #fff;
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 20;
  left: 15px
}
