@keyframes shift {
  100% {
    transform: translate(5px, 0px);
  }
}

.education__link {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #000D26;
  text-decoration: none;
  grid-row: 2/3;
  grid-column: 1/2;
  padding-top: 10px;
  transition: opacity 0.4s ease;
}

.education__link::after {
  content: url('../../../images/education/arrow-right.png');
  display: inline-block;
  width: 24px;
  height: 24px;
  padding-left: 3px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.education__link:hover::after {
  animation: shift .4s forwards;
}

.education__link:hover, .education__link:active {
  font-weight: 700;
  text-decoration-line: underline;
  opacity: .7;
}

@media (max-width: 768px) {
  .education__link {
    font-size: 14px;
    line-height: 19px;
    padding-top: 0;
    padding-bottom: 22px;
  }  
}

@media (max-width: 480px) {
  .education__link {
    grid-column: 1/1;
    grid-row: 3/4;
    padding-bottom: 0;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.0588372px;
  }
}