.card__footer {
  position: absolute;
    bottom: 0;
    left: 0;
    background-color: #009fac;
    border-radius: 0 0 10px 10px;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}
