.about__btn-next {
  width: 60px;
  height: 60px;
  background-image: url("../../../images/icons/strelka-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
  border-radius: 50px;
  background-color: #001337;
  cursor: pointer;
  position: absolute;
  top: 60%;
  z-index: 20;
  right: 80px
}

.swiper-button-next::after {
    display: none;
}

@media screen and (max-width: 768px) {
    .about__btn-next {
        display: none;
    }
}
