.education__button {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #000;
  width: 279px;
  height: 60px;
  border-radius: 10px;
  outline: none; 
  color: #fff;
  border: 1px solid #E0F0FF;
  background: transparent;
  z-index: 1;
  cursor: pointer;
}

@media (max-width: 768px) {
  .education__button {
    width: 232.5px;
    height: 44px;
    font-size: 14px;
    line-height: 19px;
  }
}

@media (max-width: 480px) {
  .education__button {
    width: 148.8px;
    height: 40px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.06px;
  }
}