.education__list {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #000D26;
  padding-left: 30px;
  padding-top: 30px;
  margin: 0;
}

@media (max-width: 768px) {
  .education__list {
    font-size: 12px;
    line-height: 20px;
    padding-top: 22px;
    padding-left: 20px;
  }
}