.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -328px;
    margin-bottom: 200px;
}

@media screen and (max-width: 768px) {
    .about {
        margin-top: -324px;
    }
}

@media screen and (max-width: 480px) {
    .about {
        margin-top: 0;
    }
}