.footer__column-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}

@media screen and (max-width: 960px) {
  .footer__column-heading  {
    font-size: 12px;
    line-height: 16px;
  }
}

@media screen and (max-width: 720px) {
  .footer__column-heading  {
    display: none;
    font-size: 12px;
    line-height: 16px;
  }
}