.card__title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #001337;
  margin: 30px auto 0;
  z-index: 2;
}

@media screen and (min-width: 767px) and (max-width: 1110px) {
  .card__title {
    margin: 12px auto 0;
    font-size: 12px;
    line-height: 16px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .card__title {
    margin: 10px auto 0;
    font-size: 10px;
    line-height: 14px;
  }
}
