.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__column-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

@media screen and (max-width: 960px) {
  .footer__column-link {
    font-size: 12px;
    line-height: 20px;
  }
}

@media screen and (max-width: 720px) {
  .footer__column-link {
    font-size: 12px;
    line-height: 16px;
  }
}

.footer__column-social {
  max-width: 152px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding-top: 65px;
}
