.popup__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1px;
  padding: 0;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 20px;
}

.popup__text:last-of-type {
  margin: 0;
}

@media screen and (min-width: 767px) and (max-width: 1110px) {
  .popup__text {
    font-size: 14px;
    line-height: 19px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__text {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 16px;
  }
}
