.intro__title {
    margin: 0;
    padding: 0;
    max-width: 445px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 54px;
    line-height: 68px;
    letter-spacing: 0.1px;
}

@media screen and (max-width: 768px) {
    .intro__title {
        transform: scale(-1, 1);
    }
}

@media screen and (max-width: 480px) {
    .intro__title {
        font-size: 32px;
        line-height: 44px;
        max-width: 256px;
    }
}